
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eduperse</title>
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/estilos.css?v=<?php echo(rand()); ?>">
    <link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v5.10.1/css/pro.min.css">
</head>
<body>
<header>
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-5">

            </div>
        </div>
    </div>
</header>
<div class="container" style="padding-top: 80px;">
    <div class="row">
        <div class="col-md-12">
            <div class="box-detalle-evaluacion">
                <h3 class="font-family-Inter-SemiBold">Detalles de Nombre de Evaluación</h3>
                <h5 class="font-family-Inter-Medium">Curso Diseño Digital</h5>
                <div class="d-flex align-items-center justify-content-start" style="gap: 12px">
                    <div class="">
                        <img src="../img/profile.jpeg" alt="profile">
                    </div>
                    <div class="">
                        <p class="mb-0 font-family-Inter-Medium">
                            Fram Davila
                            <span class="d-block font-family-Inter-Regular">Frdavi</span>
                        </p>
                    </div>
                </div>
                <div class="row mt-3 mb-3">
                    <div class="col-md-4">
                        <p class="mb-0 font-family-Inter-Regular">
                            Empezó: 01:20 PM - 05/02/2023
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p class="mb-0 font-family-Inter-Regular">
                            Finalizó: 02:20 PM - 05/02/2023
                        </p>
                    </div>
                </div>
                <h2 class="font-family-Outfit-SemiBold">Nota: 40/50</h2>
            </div>
        </div>
        <div class="col-md-12">
            <div class="box-border" style="box-shadow: 0px 1px 2px #00000029;">
                <div class="header">
                    <h4 class="font-family-Inter-SemiBold mb-0">Resolución de respuestas</h4>
                </div>
                <table class="table">
                    <thead class="thead-dark">
                    <tr class="font-family-Outfit-SemiBold">
                        <th class="texto-1">Pregunta</th>
                        <th class="texto-1">Respuesta correcta</th>
                        <th class="texto-1">Tu Respuesta</th>
                        <th class="texto-1">Estado</th>
                        <th class="texto-1">Conseguido</th>
                        <th class="texto-1" width="100">Pt Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="font-family-Inter-Medium texto-1">
                            1. ¿Para que sirve Adobe Photoshop ejemplo de pregunta?
                        </td>
                        <td class="font-family-Inter-Medium texto-1">
                            Renderizar Videos ejemplo de respuesta marcada
                        </td>
                        <td class="font-family-Inter-Medium texto-1">
                            Renderizar Videos ejemplo de respuesta marcada
                        </td>
                        <td class="font-family-Inter-Medium texto-1 text-fucsia">
                            Correcto
                        </td>
                        <td class="font-family-Inter-Medium texto-1">
                            1
                        </td>
                        <td class="font-family-Inter-Medium texto-1">
                           1
                        </td>
                    </tr>
                    <tr>
                        <td class="font-family-Inter-Medium texto-1">
                            2. ¿Para que sirve Adobe Photoshop ejemplo de pregunta?
                        </td>
                        <td class="font-family-Inter-Medium texto-1">
                            Renderizar Videos ejemplo de respuesta marcada
                        </td>
                        <td class="font-family-Inter-Medium texto-1">
                            Renderizar Videos ejemplo de respuesta marcada
                        </td>
                        <td class="font-family-Inter-Medium texto-1 text-red">
                            Incorrecto
                        </td>
                        <td class="font-family-Inter-Medium texto-1">
                            0
                        </td>
                        <td class="font-family-Inter-Medium texto-1">
                            2
                        </td>
                    </tr>
                    <tr>
                        <td class="font-family-Inter-Medium texto-1">
                            3. ¿Para que sirve Adobe Photoshop ejemplo de pregunta?
                        </td>
                        <td class="font-family-Inter-Medium texto-1">
                            Renderizar Videos ejemplo de respuesta marcada
                        </td>
                        <td class="font-family-Inter-Medium texto-1">
                            Renderizar Videos ejemplo de respuesta marcada
                        </td>
                        <td class="font-family-Inter-Medium texto-1 text-red">
                            Incorrecto
                        </td>
                        <td class="font-family-Inter-Medium texto-1">
                            3
                        </td>
                        <td class="font-family-Inter-Medium texto-1">
                            1
                        </td>
                    </tr>
                    <tr>
                        <td class="font-family-Inter-Medium" colspan="3">

                        </td>
                        <td class="font-family-Inter-Medium">
                            TOTAL
                        </td>
                        <td class="font-family-Inter-Medium text-blue">
                            40
                        </td>
                        <td class="font-family-Inter-Medium">
                            50
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <p class="d-block mb-2 footer-evaluacion font-family-Inter-Regular">Copyright © 2022 Eduperse Company</p>
            <img src="../img/logo-gris.png" alt="logo">
        </div>
    </div>
</div>

{% include 'admin/../includes/admin/footer.html' %}
