{% include "includes/instructor/header.html" %}
{% include "includes/instructor/nav.html" %}
{% load static %}

    <div class="sidebar">
        {% include "includes/instructor/sidebar.html" %}
    </div>
    <div class="main">
        <section class="bg-panel">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-4 mt-3">
                        <h1 class="font-family-Outfit-SemiBold titulo">
                            Cursos Asignados
                        </h1>
                    </div>

                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <!-- Nav tabs -->
                        <ul class="nav nav-pills font-family-Inter-Medium lista-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#todos">Todos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#ritmo">A tu ritmo</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#vivo">Videoconferencias en Vivo</a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div id="todos" class="tab-pane active"><br>
                                <div class="row">
                                    {% for course in assigned_courses %}
                                    <div class="col-md-3 mb-4">
                                        <div class="box-asignados {% if course.course_type == 'live'%} live {% endif %} ">
                                            <div class="img-asignados">
                                                {% if course.cover_image %}
                                                <img src="{{ course.cover_image.url }}" alt="imagen-curso">
                                                {% else %}
                                                <img src="{% static "img/instructor/imagen-curso.jpg" %}" alt="imagen-curso">
                                                {% endif %}
                                                <div class="abs-live">
                                                    <img src="{% static "img/instructor/live.png" %}" alt="live">
                                                </div>
                                            </div>
                                            <div class="body-asignados">
                                                <h2 class="font-family-Inter-Bold">
                                                    {{ course.name }}
                                                </h2>
                                                <h3 class="font-family-Inter-Medium">
                                                    {% for group in course.groups %}
                                                        {% if group.instructor == userprofile %}
                                                            Grupo:{{group.group_id}},<br>
                                                        {% endif %}
                                                    {% endfor %}
                                                </h3>
                                                {% if course.course_type == 'live'%}
                                                <a href="{% url 'instructor-live-course-detail' course.id%}" class="font-family-Inter-Medium btn-ver">
                                                    Ver Detalles
                                                </a>
                                                {% else %}
                                                <a href="{% url 'instructor-course-detail' course.id%}" class="font-family-Inter-Medium btn-ver">
                                                    Ver Detalles
                                                </a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div id="ritmo" class="tab-pane fade"><br>
                                <div class="row">
                                    {% for course in assigned_courses %}
                                        {% if course.course_type == 'recorded'%}
                                            <div class="col-md-3 mb-4">
                                                <div class="box-asignados">
                                                    <div class="img-asignados">
                                                        {% if course.cover_image %}
                                                        <img src="{{ course.cover_image.url }}" alt="imagen-curso">
                                                        {% else %}
                                                        <img src="{% static "img/instructor/imagen-curso.jpg" %}" alt="imagen-curso">
                                                        {% endif %}
                                                        <div class="abs-live">
                                                            <img src="{% static "img/instructor/live.png" %}" alt="live">
                                                        </div>
                                                    </div>
                                                    <div class="body-asignados">
                                                        <h2 class="font-family-Inter-Bold">
                                                            {{ course.name }}
                                                        </h2>
                                                        <h3 class="font-family-Inter-Medium">
                                                            {% for group in course.groups %}
                                                                {% if group.instructor == userprofile %}
                                                                    Grupo:{{group.group_id}},<br>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </h3>
                                                        <a href="{% url 'instructor-course-detail' course.id%}" class="font-family-Inter-Medium btn-ver">
                                                            Ver Detalles
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div id="vivo" class="tab-pane fade"><br>
                                <div class="row">
                                    {% for course in assigned_courses %}
                                        {% if course.course_type == 'live'%}
                                            <div class="col-md-3 mb-4">
                                                <div class="box-asignados live">
                                                    <div class="img-asignados">
                                                        {% if course.cover_image %}
                                                        <img src="{{ course.cover_image.url }}" alt="imagen-curso">
                                                        {% else %}
                                                        <img src="{% static "img/instructor/imagen-curso.jpg" %}" alt="imagen-curso">
                                                        {% endif %}
                                                        <div class="abs-live">
                                                            <img src="{% static "img/instructor/live.png" %}" alt="live">
                                                        </div>
                                                    </div>
                                                    <div class="body-asignados">
                                                        <h2 class="font-family-Inter-Bold">
                                                            {{ course.name }}
                                                        </h2>
                                                        <h3 class="font-family-Inter-Medium">
                                                            {% for group in course.groups %}
                                                                {% if group.instructor == userprofile %}
                                                                    Grupo:{{group.group_id}},<br>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </h3>
                                                        <a href="{% url 'instructor-live-course-detail' course.id%}" class="font-family-Inter-Medium btn-ver">
                                                            Ver Detalles
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    {% include "includes/instructor/footer.html" %}