
{% include "includes/instructor/header.html" %}
{% include "includes/instructor/nav.html" %}
{% load static %}
<div class="sidebar">
    {% include "includes/instructor/sidebar.html" %}
</div>

<div class="main">
    <section class="bg-panel">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-4 mt-3">
                    <h1 class="font-family-Outfit-SemiBold titulo">
                        Panel de Instructor, <span>{{ userprofile.user.username }}</span>
                    </h1>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="box-ins">
                        <h6 class="font-family-Inter-Regular">Evaluaciones sin calificar</h6>

                        {% for evaluation in ungraded_evaluations %}
                            <div class="box-dis position-relative activado">
                                <a href="{% url 'instructor-evaluaciones' %}" class="text-decoration-none text-black">
                                    <h5 class="mb- font-family-Inter-SemiBold">
                                        {{evaluation.title}}
                                    </h5>
                                    <div class="abs">
                                        {{evaluation.total_progress}}
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    
                        {% comment %} <div class="box-dis position-relative activado">
                            <a href="#" class="text-decoration-none text-black">
                                <h5 class="mb- font-family-Inter-SemiBold">
                                    Nombre de Curso Diseño Digital
                                </h5>
                                <div class="abs">
                                    2
                                </div>
                            </a>
                        </div>
                        <div class="box-dis position-relative">
                            <h5 class="mb-0 font-family-Inter-SemiBold">
                                Nombre de Curso Diseño Digital
                            </h5>
                            <div class="abs">
                                2
                            </div>
                        </div> {% endcomment %}
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="box-grupos">
                                <div class="bg-img">
                                    <img src="{% static 'img/instructor/cursos.png' %}" alt="eicono">
                                </div>
                                <div class="">
                                    <p class="mb-0 font-family-Inter-Regular">
                                        Cursos Asignados
                                    </p>
                                    <h3 class="font-family-Outfit-SemiBold">
                                        {{ assigned_courses}}
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="box-grupos">
                                <div class="bg-img">
                                    <img src="{% static 'img/instructor/progreso.png' %}" alt="icono">
                                </div>
                                <div class="">
                                    <p class="mb-0 font-family-Inter-Regular">
                                        Grupos en Progreso
                                    </p>
                                    <h3 class="font-family-Outfit-SemiBold">
                                        {{groups_in_progress}}
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="box-grupos">
                                <div class="bg-img">
                                    <img src="{% static 'img/instructor/grupos.png' %}" alt="icono">
                                </div>
                                <div class="">
                                    <p class="mb-0 font-family-Inter-Regular">
                                        Grupos Asignados
                                    </p>
                                    <h3 class="font-family-Outfit-SemiBold">
                                        {{assigned_groups.count}}
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="box-grupos">
                                <div class="bg-img">
                                    <img src="{% static 'img/instructor/finalizados.png' %}" alt="icono">
                                </div>
                                <div class="">
                                    <p class="mb-0 font-family-Inter-Regular">
                                        Grupos Finalizados
                                    </p>
                                    <h3 class="font-family-Outfit-SemiBold">
                                        {{finalize_groups.count}}
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mb-3 mt-3">
                    <h5 class="font-family-Outfit-SemiBold titulo">
                        Últimos Grupos Asignados
                    </h5>
                </div>
                {% for group in last_assigned_groups %}
                <div class="col-md-4 mb-4">
                    <div class="box-curso">
                        <div class="header-curso">
                            <div class="fondo-img">
                                <img src="{% static 'img/instructor/box-curso.png' %}" alt="icono">
                            </div>
                            <div class="">
                                <h6 class="font-family-Inter-Medium">
                                    {{group.group_id}}
                                </h6>
                                <h3 class="font-family-Inter-SemiBold">
                                    {{group.name}}
                                </h3>
                                <p class="font-family-Inter-Regular">
                                    {{group.members.count}} Integrantes
                                </p>
                            </div>
                        </div>
                        <div class="datos-cursos">
                            <div class="box-datos">
                                <h5 class="font-family-Inter-Medium">
                                    {% comment %} Mar 21, 2023 {% endcomment %}
                                    {{group.start_date.date}}
                                </h5>
                                <p class="font-family-Inter-Regular">
                                    Inicio
                                </p>
                            </div>
                            <div class="box-datos">
                                <h5 class="font-family-Inter-Medium">
                                    {{group.end_date.date}}
                                </h5>
                                <p class="font-family-Inter-Regular">
                                    fin
                                </p>
                            </div>
                        </div>
                        <div class="barra-progreso">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="{{group.group_progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{group.group_progress}}%;">
                                    <span class="sr-only">{{group.group_progress}}% Complete</span>
                                </div>
                            </div>
                        </div>
                        <div class="box-integrantes">
                            {% for member in group.members %}
                                {% if forloop.counter <= 6 %}
                                    {% if member.user.profile_picture %}
                                        <img src="{{member.user.profile_picture.url}}" alt="user">
                                    {% else %}
                                        <img src="{% static "img/user.png" %}" alt="user">
                                    {% endif %}

                                {% endif %}
                            {% endfor %}
                            {% if group.members.count > 6 %}
                                <div class="final font-family-Inter-Regular">
                                    +{{ group.members.count|add:"-6" }}
                                </div>
                            {% endif %}

                            {% comment %} <img src="{% static "img/user.png" %}" alt="user">
                            <img src="{% static "img/user.png" %}" alt="user">
                            <img src="{% static "img/user.png" %}" alt="user">
                            <img src="{% static "img/user.png" %}" alt="user">
                            <img src="{% static "img/user.png" %}" alt="user">
                            <img src="{% static "img/user.png" %}" alt="user">
                            <div class="final font-family-Inter-Regular">
                                +20
                            </div> {% endcomment %}
                        </div>
                        <a href="{% url 'group-detail' group.id %}" class="font-family-Inter-Medium btn-ver">
                            Ver Detalles
                        </a>
                    </div>
                </div>
                {% endfor %}
                {% comment %} <div class="col-md-4 mb-4">
                    <div class="box-curso">
                        <div class="header-curso">
                            <div class="fondo-img">
                                <img src="{% static 'img/instructor/box-curso.png' %}" alt="icono">
                            </div>
                            <div class="">
                                <h6 class="font-family-Inter-Medium">
                                    EDUP-031
                                </h6>
                                <h3 class="font-family-Inter-SemiBold">
                                    Fotomontaje Publicitario Avanzado I
                                </h3>
                                <p class="font-family-Inter-Regular">
                                    27 Integrantes
                                </p>
                            </div>
                        </div>
                        <div class="datos-cursos">
                            <div class="box-datos">
                                <h5 class="font-family-Inter-Medium">
                                    Mar 21, 2023
                                </h5>
                                <p class="font-family-Inter-Regular">
                                    Inicio
                                </p>
                            </div>
                            <div class="box-datos">
                                <h5 class="font-family-Inter-Medium">
                                    Abr 21, 2023
                                </h5>
                                <p class="font-family-Inter-Regular">
                                    Inicio
                                </p>
                            </div>
                        </div>
                        <div class="barra-progreso">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                    <span class="sr-only">80% Complete</span>
                                </div>
                            </div>
                        </div>
                        <div class="box-integrantes">
                            <img src="{% static "img/user.png" %}" alt="user">
                            <img src="{% static "img/user.png" %}" alt="user">
                            <img src="{% static "img/user.png" %}" alt="user">
                            <img src="{% static "img/user.png" %}" alt="user">
                            <img src="{% static "img/user.png" %}" alt="user">
                            <img src="{% static "img/user.png" %}" alt="user">
                            <img src="{% static "img/user.png" %}" alt="user">
                            <div class="final font-family-Inter-Regular">
                                +20
                            </div>
                        </div>
                        <a href="mis-grupos-de-estudio.php" class="font-family-Inter-Medium btn-ver">
                            Ver Detalles
                        </a>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="box-curso">
                        <div class="header-curso">
                            <div class="fondo-img">
                                <img src="{% static 'img/instructor/box-curso.png' %}" alt="icono">
                            </div>
                            <div class="">
                                <h6 class="font-family-Inter-Medium">
                                    EDUP-031
                                </h6>
                                <h3 class="font-family-Inter-SemiBold">
                                    Fotomontaje Publicitario Avanzado I
                                </h3>
                                <p class="font-family-Inter-Regular">
                                    27 Integrantes
                                </p>
                            </div>
                        </div>
                        <div class="datos-cursos">
                            <div class="box-datos">
                                <h5 class="font-family-Inter-Medium">
                                    Mar 21, 2023
                                </h5>
                                <p class="font-family-Inter-Regular">
                                    Inicio
                                </p>
                            </div>
                            <div class="box-datos">
                                <h5 class="font-family-Inter-Medium">
                                    Abr 21, 2023
                                </h5>
                                <p class="font-family-Inter-Regular">
                                    Inicio
                                </p>
                            </div>
                        </div>
                        <div class="barra-progreso">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
                                    <span class="sr-only">20% Complete</span>
                                </div>
                            </div>
                        </div>
                        <div class="box-integrantes">
                            <img src="{% static "img/user.png" %}" alt="user">
                            <img src="{% static "img/user.png" %}" alt="user">
                            <img src="{% static "img/user.png" %}" alt="user">
                            <img src="{% static "img/user.png" %}" alt="user">
                            <img src="{% static "img/user.png" %}" alt="user">
                            <img src="{% static "img/user.png" %}" alt="user">
                            <img src="{% static "img/user.png" %}" alt="user">
                            <div class="final font-family-Inter-Regular">
                                +20
                            </div>
                        </div>
                        <a href="mis-grupos-de-estudio.php" class="font-family-Inter-Medium btn-ver">
                            Ver Detalles
                        </a>
                    </div>
                </div> {% endcomment %}
            </div>
        </div>
    </section>
</div>

{% include "includes/instructor/footer.html" %}