{% include "includes/instructor/header.html" %}
{% load static %}
<header>
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-5">

            </div>
        </div>
    </div>
</header>
<div class="container" style="padding-top: 80px;">
    <div class="row">
        <div class="col-md-12">
            <div class="box-detalle-evaluacion">
                <h3 class="font-family-Inter-SemiBold">Tara enviada Exitosamente!</h3>
                <h5 class="font-family-Inter-Medium">Curso Diseño Digital</h5>
                <p class="font-family-Inter-Medium fz-14 text-blue">
                    Crucigrama
                </p>
                <p class="font-family-Inter-Regular text-gris fz-12">
                    <i class="fas fa-calendar-alt"></i> Horario de envío: 11:00 AM - 12/04/2023
                </p>
                <div class="row mt-3 mb-3">
                    <div class="col-md-12">
                        <p class="font-family-Inter-Regular mb-0">
                            La nota será asignada en tu apartado de Calificaciones.
                        </p>
                    </div>
                    <div class="col-md-2 mt-4">
                        <button class="btn_enviar font-family-Inter-Medium w-100">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <p class="d-block mb-2 footer-evaluacion font-family-Inter-Regular">Copyright © 2022 Eduperse Company</p>
            <img src="{% static 'img/logo-gris.png' %}" alt="logo">
        </div>
    </div>
</div>

{% include "includes/instructor/footer.html" %}
