{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Login</title>
    <link rel="stylesheet" href="{% static 'loginpage.css' %}">
</head>
<body>

<div class="login-container">
    <h2>Employee Login</h2>
    <form action="" method="post"> <!-- Update the action as needed -->
        {% csrf_token %}
        <div class="input-group">
            <label for="employee-number">Employee Number:</label>
            <input type="text" id="employee-number" name="employee_number" required>
        </div>
        <div class="input-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Login</button>
        <a href="{% url 'signup' %}">Create Account</a>
    </form>
</div>

</body>
</html>

